# Install and import

In [1]:
!pip install -i https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple bibliometria==0.1.1

Looking in indexes: https://test.pypi.org/simple/, https://pypi.org/simple
Collecting bibliometria==0.1.1
  Downloading https://test-files.pythonhosted.org/packages/96/55/2eebd1798f6621eba06e11b6f66a647df036393105d3c9139b5781552105/bibliometria-0.1.1-py3-none-any.whl.metadata (1.1 kB)
Requirement already satisfied: pandas>=1.5 in ./.venv/lib/python3.14/site-packages (from bibliometria==0.1.1) (2.3.3)
Requirement already satisfied: rapidfuzz>=3.0 in ./.venv/lib/python3.14/site-packages (from bibliometria==0.1.1) (3.14.3)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.14/site-packages (from pandas>=1.5->bibliometria==0.1.1) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.14/site-packages (from pandas>=1.5->bibliometria==0.1.1) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.14/site-packages (from pandas>=1.5->bibliometria==0.1.1) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.14/site-packages (from pandas>=1.5->bibliometria==0.1.1) (2025.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.14/site-packages (from python-dateutil>=2.8.2->pandas>=1.5->bibliometria==0.1.1) (1.17.0)
Downloading https://test-files.pythonhosted.org/packages/96/55/2eebd1798f6621eba06e11b6f66a647df036393105d3c9139b5781552105/bibliometria-0.1.1-py3-none-any.whl (3.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.9/3.9 MB 5.6 MB/s  0:00:00 eta 0:00:01
Installing collected packages: bibliometria
  Attempting uninstall: bibliometria
    Found existing installation: bibliometria 0.1.0
    Uninstalling bibliometria-0.1.0:
      Successfully uninstalled bibliometria-0.1.0
Successfully installed bibliometria-0.1.1

In [2]:
import bibliometria as bm

# title_matches

In [9]:
matches = bm.title_matches('Language Resources and Eval', limit=5, score_cutoff=60)
matches

,raw_title,matched_title,match_score,source,title,issn,eissn,sjr,sjr_best_quartile,wos_quartile
0,Language Resources and Eval,Language Resources and Evaluation,90.00,SCImagojr,Language Resources and Evaluation,1574020X,NaN,"0,477",Q1,NaN
1,Language Resources and Eval,Language Resources and Evaluation,90.00,Web of Science,Language Resources and Evaluation,1574-0218,1574-0218,NaN,NaN,Q3
2,Language Resources and Eval,Research in Language,68.09,SCImagojr,Research in Language,"20834616, 17317533",NaN,"0,113",Q4,NaN
3,Language Resources and Eval,Language and Literature,68.00,SCImagojr,Language and Literature,"09639470, 14617293",NaN,"0,275",Q1,NaN
4,Language Resources and Eval,Language and Literature,68.00,Web of Science,Language and Literature,1461-7293,1461-7293,NaN,NaN,None

# title_best_match

In [8]:
best = bm.title_best_match('Language Resources and Eval')
best

raw_title                  Language Resources and Eval
matched_title        Language Resources and Evaluation
match_score                                       90.0
source                                       SCImagojr
title                Language Resources and Evaluation
issn                                          1574020X
sjr                                              0,477
sjr_best_quartile                                   Q1
dtype: object

In [7]:
bm.title_best_match('Language Resources and Eval').iloc[1]

'Language Resources and Evaluation'

# journal_metrics

In [10]:
metrics = bm.journal_metrics("Journal of Linguistics", query_type="title")
metrics

sjr                  0,902
sjr_best_quartile       Q1
h_index                 50
wos_quartile            Q2
wos_jif                1.2
wos_jif_5_year         1.7
Name: Journal of Linguistics, dtype: object

In [11]:
metrics_issn = bm.journal_metrics("26738945", query_type="issn")
metrics_issn

sjr                  0,370
sjr_best_quartile       Q1
h_index                  8
wos_quartile            Q3
wos_jif                1.4
wos_jif_5_year         1.6
Name: Architecture, dtype: object

In [12]:
bm.journal_metrics("26738945", query_type="issn")['sjr']

'0,370'

# journal_info

In [13]:
info = bm.journal_info("Journal of Linguistics", query_type="title")
info

,title,query,query_type,source_primary,matched_title,match_score,rank,sourceid,type,issn,...,abbreviation,eissn,category,wos_index,wos_jif,wos_jif_5_year,best_ranking,percentage,wos_status,wos_quartile
5679,Journal of Linguistics,Journal of Linguistics,title,df1,Journal of Linguistics,100.0,5680,145253,journal,"14697742, 00222267",...,J LINGUIST,1469-7742,LANGUAGE & LINGUISTICS - AHCI LINGUISTICS - SSCI,SSCI - Social Sciences Citation IndexAHCI - Ar...,1.2,1.7,LINGUISTICS,62.4%,Active,Q2

In [14]:
info = bm.journal_info("26738945", query_type="issn")
info

,title,query,query_type,source_primary,matched_title,match_score,rank,sourceid,type,issn,...,abbreviation,eissn,category,wos_index,wos_jif,wos_jif_5_year,best_ranking,percentage,wos_status,wos_quartile
14573,Architecture,26738945,issn,SCImagojr,Architecture,100,14574,21101238221,journal,26738945,...,ARCHITECTURE-BASEL,2673-8945,NaN,NaN,1.4,1.6,Unavailable,30.5%,Active,Q3

In [ ]:
info.to_csv('saved_info.csv')